* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

#header {
  background-color: #ffffff;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  width: 100%;
  box-shadow:-1px 5px 9px 0px rgba(50, 50, 50, 0.52);
  position: fixed;
}

#masthead {
  background-color: #b2eafd;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  font-family: 'Courier Prime', monospace;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #0d2a93;
  text-align:center;
}


#projects {
  background-color: #ffffff;
}

#contact {
  background-color: #ffffff;
}

main {
  padding-top: 220px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #3662ff;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #0d2a93;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0d2a93;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #b2eafd;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button:visited {
  /* visited link */
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #0d2a93;
  text-transform: uppercase;
  border-bottom: 0px
}

.button.contact:hover {
  background-color: #309625;
  color: #ffffff;
  border-radius: 3px;
  border-bottom: 2px solid #e8a130;
}

.button.resume {
  background-color: transparent;
  color: #0d2a93;
  text-transform: uppercase;
  border-bottom: 0px
}

.button.resume:hover {
  background-color: #309625;
  color: #ffffff;
  border-radius: 3px;
  border-bottom: 2px solid #e8a130;
}

/* Layout styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.center {
  text-align:center;
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  width: 100;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav > ul > li > a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #994c30;
}

nav > ul > li > a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #994c30;
}

nav > ul > li, .links li {
  display: inline-block;
  width: 100;
}

nav > ul > li, .links li > a {
  opacity: 100%;
}
/*
Colors used:
Masthead, accent (Light blue): #b2eafd;
Primary color (Royal blue): #0d2a93;
Logo, accent (Yellow): #e8a130;
Secondary color (Green): 309625;
*/
