* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Readex Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

footer {
  text-align: center;
  background-color: #0d2a93;
}

#header {
  background-color: #ffffff;
  padding: 10px 0 4px;
  margin: 0 auto;
  width: 100%;
  box-shadow: -1px 5px 9px 0px rgba(50, 50, 50, 0.52);
  position: fixed;
}

#masthead {
  background-color: #b2eafd;
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  font-family: 'Courier Prime', monospace;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #0d2a93;
  text-align: center;
  min-height: 600px;
}

#projects {
  background-color: #ffffff;
}

#contact {
  background-color: #ffffff;
  padding: 20px 0;
  width: 100%;
}

#about {
  max-width: 50%;
  width: 50% align: center;
  margin: auto;
}

#persona {
  max-width: 50%;
  width: 40%;
}

main {
  padding-top: 80px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #3662ff;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #0d2a93;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:active {
  /* selected link */
  color: #994c30;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #0d2a93;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #b2eafd;
  /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
}

.button:visited {
  /* visited link */
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #0d2a93;
  text-transform: uppercase;
  border-bottom: 0px
}

.button.contact:hover {
  background-color: #0d2a93;
  color: #ffffff;
  border-radius: 3px;
}

.button.resume {
  background-color: transparent;
  color: #0d2a93;
  text-transform: uppercase;
  border-bottom: 0px
}

.button.resume:hover {
  background-color: #0d2a93;
  color: #ffffff;
  border-radius: 3px;
}

/* Layout styling */
.container {
  padding: 0 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-big {
  padding: 0 50px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.container-small {
  padding: 0 40px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.row {
  margin: 25px 0;
  content: "";
  clear: both;
  display: table;
}

.center {
  text-align: center;
}

.logo {
  max-width: 200px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

nav>ul>li>a:hover {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #994c30;
}

nav>ul>li>a:active {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #994c30;
}

nav>ul>li, .links li {
  display: inline-block;
  width: 100;
}

nav>ul>li, .links li>a {
  opacity: 1;
}

nav>ul>li:hover, .links li>a:hover {
  opacity: .7;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle.responsive li  {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(232, 161, 48, 1););
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.links {
  padding-left: 0;
  text-align: center;
}

.links svg {
  height: 50px;
  width: 50px;
  fill: black;
}

.links li {
  margin: 10px;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  #header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
    min-width: 641px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    font-size: 18px;
  }

  #masthead span {
    display: block;
  }

  .col-md-5 {
    width: 50%;
    padding: 30px;
  }

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-image {
    text-align: center;
  }

  .content-image img {
    max-width: 60%;
  }

  .content-image-small {
    text-align: center;
  }

  .content-image-small img {
    max-width: 30%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  #header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
    font-size: 18px;
  }

  .col-lg-7 {
    width: 60%
  }

  .col-lg-5 {
    width: 40%
  }

  [class*="col-"] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .col-lg-3 {
    width: 33.3%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .logo {
    min-width: 350px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

/*
Colors used:
Masthead, accent (Light blue): #b2eafd;
Primary color (Royal blue): #0d2a93;
Logo, accent (Yellow): #e8a130;
Secondary color (Green): 309625;
*/
